<!DOCTYPE html>
<html ng-app="dbApp" ng-controller="DashboardCtrl">
<head>
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src = "controllers/dashboardCtrl.js"></script>
</head>
<body class="dashboard">
    <div>
        <md-nav-bar>
            <md-nav-item md-nav-click="logout()">Logout</md-nav-item>
        </md-nav-bar>
    </div>
    <h1 style="color:white;text-align: center">Dashboard</h1>
    <h5 style="text-align:right">UserID: {{userData.userID}}</h5>
    <md-input-container ng-if="userData.admin == true">
        <md-button ng-click="createEvent()">Create Event</md-button>
    </md-input-container>
    <md-input-container>
        <md-button ng-click="createRSO()">Create RSO</md-button>
    </md-input-container>
    <md-input-container>
        <md-select ng-model="searchCat">
            <md-option value="0">Public Event</md-option>
            <md-option value="1">Private Event</md-option>
            <md-option value="2">RSO Event</md-option>
            <md-option value="3">RSO Org</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Search:</label>
        <input type="text" ng-model="searchParam">
    </md-input-container>
    <md-input-container>
        <md-button ng-click="search()">Enter</md-button>
    </md-input-container>
    <div>
        <pre> Response: {{response}}</pre>
        <pre>Parsed: {{searchResults.data}}</pre>
        <pre>blah{{json | json}}</pre>
    </div>
<!--     <div class="boxWithShadow" style="background-color:white;width:95%;margin:auto;border-radius:25px">

            
        <div id="searchResults" >
        <md-list>
            <md-list-item ng-repeat="x in searchResults">
                <pre>{{ x.responseData | json }}</pre>
            </md-list-item>
        </md-list>
    </div>
    <div name="createEvent" ng-show="createEventToggle">
        <form name="form.createEvent">
            <md-input-container>
                <label>Name:</label>
                <input type="text" ng-model="event.name">
            </md-input-container>
            <md-input-container>
                <label>Start Time: (format YYYY-MM-DD HH:MM:SS)</label>
                <input type="text" ng-model="event.startTime">
            </md-input-container>
            <md-input-container>
                <label>End Time: (format YYYY-MM-DD HH:MM:SS)</label>
                <input type="text" ng-model="event.endTime">
            </md-input-container>
            <md-input-container>
                <label>Location:</label>
                <input type="text" ng-model="event.location">
            </md-input-container>
            <md-input-container>
                <label>Category:</label>
                <md-select ng-model="event.cat">
                        <md-option value="0">Public Event</md-option>
                        <md-option value="1">Private Event</md-option>
                        <md-option value="2">RSO Event</md-option>
                    </md-select>
            </md-input-container>
            <md-input-container>
                <label>Description:</label>
                <textarea type="text" ng-model="event.description">
            </md-input-container>

        </form>
    </div>
    <div name="createRSO" ng-show="createRSOToggle">
        <h2>Create an RSO</h2>
        <form name="form.createRSO">
            <md-input-container>
                <label>Name:</label>
                <input type="text" ng-model="rso.name">
            </md-input-container>
            <h6>You must enter 4 more members to create an RSO</h6>
            <md-input-container>
                    <label>UserID:</label>
                    <input type="text" ng-model="addMember">
                </md-input-container>
                <md-input-container>
                    <md-button ng-click="rsoArrayPush()">Add</md-button>
                </md-input-container>
                <md-list>
                    <md-list-item ng-repeat="x in foundingMembers"> 
                        {{x}}
                    </md-list-item>
                </md-list>
        </form>
    </div>
    </div> -->
</body>
</html>