<md-dialog ng-app="demoApp" ng-controller="SignUpController" aria-label="Sign up dialog">
  <md-dialog-content>
        <md-input-container>
          <label>Email: </label>
          <input type="email" ng-model="emailSU">
        </md-input-container>
        <md-input-container>
          <label>Password: </label>
          <input type="password" ng-model="passSU">
        </md-input-container>
        <md-input-container>
          <label>University Code: </label>
          <input ng-model="uniSU">
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button type="submit" ng-click="SignUpController.submit()" class="md-primary">
          Sign Up
        </md-button>
       <md-button ng-click="SignUpController.closeDialog()" class="md-primary">
          Cancel
        </md-button>
      </md-dialog-actions>
    </md-dialog>