.login-button {
  color: green;
}

.inputContainer{
  color: lightblue;
}

.dashboard{
  background-color: cadetblue;
}

.searchEngine{
  background-color: cadetblue;
}

.rso{
  background-color: cadetblue;
}

.university{
  background-color: cadetblue;
}

.event{
  background-color: cadetblue;
}

.loginPage{
  background-color: cadetblue;
}

.footer{
  text-align:center;
  background-color: #568f91;
  padding:1px;
  margin:0
}

.boxWithShadow{
  text-align:center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0, 6px, 20px, 0, rgba(0, 0, 0, 0.19); */
  box-shadow: 4px 4px 2px #4d8182;
}